helpdesk/sbf-api/.nodered/flow_sbf.json
[{"id":"7e1e9f8.d2a356","type":"tab","label":"Flow 1"},{"id":"1ed3e77d.8573e9","type":"subflow","name":"request help","info":"","in":[{"x":53,"y":41,"wires":[{"id":"12dbdf7.513f621"}]}],"out":[{"x":575.9999847412109,"y":34,"wires":[{"id":"fec3b4c3.b360f8","port":0}]},{"x":575.9999847412109,"y":85,"wires":[{"id":"fec3b4c3.b360f8","port":1}]}]},{"id":"ff1007e3.8055a8","type":"subflow","name":"connection issues","info":"","in":[{"x":36,"y":206,"wires":[{"id":"9db42a75.8ac478"}]}],"out":[{"x":2042.0001220703125,"y":244.99999237060547,"wires":[{"id":"e7cdca91.77ee68","port":0},{"id":"a0d9897.69b7c78","port":0}]},{"x":1945,"y":128.99999237060547,"wires":[{"id":"57ba7882.9437f8","port":1},{"id":"b1e3940e.678c88","port":1},{"id":"cd0b2cf4.ccf2f","port":1},{"id":"9537aa70.432708","port":1},{"id":"35309568.15595a","port":1}]}]},{"id":"4a97efdc.d1","type":"subflow","name":"fill timesheet","info":"","in":[{"x":50,"y":30,"wires":[{"id":"77d3747a.8c304c"}]}],"out":[{"x":1001,"y":201.99999237060547,"wires":[{"id":"4b96e39e.19aa2c","port":0},{"id":"341c59a.a37a0a6","port":0}]},{"x":1077.0000400543213,"y":316.99999237060547,"wires":[{"id":"8ecd7dc7.9040b","port":1},{"id":"2948f4f6.6e2abc","port":1},{"id":"c3669170.5654e","port":1},{"id":"760a5dd2.197bf4","port":1},{"id":"97865994.e69ed8","port":1},{"id":"310edda1.1424e2","port":1},{"id":"e35cfc7b.ce369","port":1}]}]},{"id":"cc55a66c.d00358","type":"subflow","name":"login to expenses","info":"","in":[{"x":93,"y":107,"wires":[{"id":"f81a57ad.3a1648"}]}],"out":[{"x":784.9999694824219,"y":98,"wires":[{"id":"5941ea03.fb70a4","port":0}]},{"x":785.9999694824219,"y":152.99999237060547,"wires":[{"id":"c300ec7d.6c078","port":1}]}]},{"id":"7eda63ab.13c0ec","type":"subflow","name":"locked account issue","info":"","in":[{"x":94,"y":125,"wires":[{"id":"cbc42e62.81ab6"}]}],"out":[{"x":1103.9999084472656,"y":145.99999237060547,"wires":[{"id":"c37d0ca8.00d74","port":0},{"id":"cfceada6.3fdd7","port":0}]}]},{"id":"11d39bc0.862004","type":"subflow","name":"request admin rights","info":"","in":[{"x":43,"y":72,"wires":[{"id":"6baa203f.d09a6"}]}],"out":[{"x":897.9999694824219,"y":73,"wires":[{"id":"9d238651.106dd8","port":0}]}]},{"id":"31ffa884.72b778","type":"subflow","name":"printer issue","info":"","in":[{"x":42,"y":41,"wires":[{"id":"6a3e313b.8c042"}]}],"out":[{"x":2035.25,"y":310.24999237060547,"wires":[{"id":"4f9db265.5fbe4c","port":0},{"id":"6fa003db.c3085c","port":0},{"id":"63302129.50b33","port":0},{"id":"f3c73834.0687e8","port":0}]},{"x":1481.25,"y":189.75,"wires":[{"id":"563b067e.3fe4b8","port":1},{"id":"644ce73f.deb568","port":1},{"id":"a70a712e.1b14b","port":1},{"id":"700bc687.547368","port":1},{"id":"90edb7dd.c37308","port":1},{"id":"15093bd6.fd3aa4","port":1},{"id":"7dd0396a.3aabb8","port":1},{"id":"a7710520.5595d8","port":1}]}]},{"id":"f8dde68.b8a3c18","type":"subflow","name":"antivirus","info":"","in":[{"x":36,"y":41,"wires":[{"id":"3caa1513.2d27da"}]}],"out":[{"x":1000.0001430511475,"y":251.99999237060547,"wires":[{"id":"fd096ea3.b00e7","port":0}]},{"x":993.0000305175781,"y":151,"wires":[{"id":"fd096ea3.b00e7","port":1},{"id":"6d13fd0b.21c4f4","port":1},{"id":"b9742a89.2ac9c8","port":1},{"id":"80b53ef4.045","port":1},{"id":"74d89e73.91452","port":1},{"id":"cdd26564.86c748","port":1}]},{"x":139,"y":111,"wires":[{"id":"624c9db9.d2c3b4","port":1}]}]},{"id":"e73c4e2e.7176b","type":"subflow","name":"ad blocker","info":"","in":[{"x":63,"y":46,"wires":[{"id":"d1565d9c.71677"}]}],"out":[{"x":1245.9998168945312,"y":116,"wires":[{"id":"58e09784.283568","port":0}]},{"x":1246.9998168945312,"y":165,"wires":[{"id":"ac77dab7.d3e4a8","port":1},{"id":"81584dc1.a9aa6","port":1},{"id":"58e09784.283568","port":1}]}]},{"id":"5e957592.8c80ac","type":"subflow","name":"add application","info":"","in":[{"x":40,"y":63,"wires":[{"id":"d8322685.2c7de8"}]}],"out":[{"x":1407.2499694824219,"y":76.25,"wires":[{"id":"c5e16e25.e914e","port":0}]},{"x":1405.7499694824219,"y":131.5,"wires":[{"id":"59965d4c.d5c974","port":1},{"id":"99a9f5d9.4ad278","port":1},{"id":"5c03e090.d3415","port":2},{"id":"f16fa238.30d5a","port":1},{"id":"cb425023.1564d","port":1}]}]},{"id":"3b2ad55e.23b7ca","type":"subflow","name":"spam emails","info":"","in":[{"x":48,"y":237,"wires":[{"id":"58672a80.30ac04"}]}],"out":[{"x":881.999979019165,"y":179.99999237060547,"wires":[{"id":"e48e0723.37f478","port":0}]},{"x":884.999979019165,"y":231.99999237060547,"wires":[{"id":"79156584.de1f5c","port":1},{"id":"632822df.c9b24c","port":1},{"id":"e48e0723.37f478","port":1},{"id":"94de051d.98e398","port":1}]}]},{"id":"e288fca3.36e65","type":"subflow","name":"menu","info":"","in":[{"x":63,"y":189.99999237060547,"wires":[{"id":"23257df0.56fdc2"}]}],"out":[{"x":559.9999847412109,"y":27,"wires":[{"id":"ff51455a.29e018","port":0}]},{"x":560.9999847412109,"y":72,"wires":[{"id":"ff51455a.29e018","port":1}]},{"x":562.9999847412109,"y":123,"wires":[{"id":"ff51455a.29e018","port":2}]},{"x":565.9999694824219,"y":171.99999237060547,"wires":[{"id":"ff51455a.29e018","port":3}]},{"x":566.9999694824219,"y":217.99999237060547,"wires":[{"id":"ff51455a.29e018","port":4}]},{"x":568.9999694824219,"y":261.99999237060547,"wires":[{"id":"ff51455a.29e018","port":5}]},{"x":568.9999694824219,"y":309.99999237060547,"wires":[{"id":"ff51455a.29e018","port":6}]},{"x":568.9999694824219,"y":354.99999237060547,"wires":[{"id":"ff51455a.29e018","port":7}]},{"x":570.9999694824219,"y":399.99999237060547,"wires":[{"id":"ff51455a.29e018","port":8}]},{"x":574.9999694824219,"y":445.99999237060547,"wires":[{"id":"ff51455a.29e018","port":9}]},{"x":575,"y":496,"wires":[{"id":"ff51455a.29e018","port":10}]}]},{"id":"bc69bd53.228","type":"subflow","name":"email setup","info":"","in":[{"x":52,"y":87,"wires":[{"id":"3df53852.2ac4f8"}]}],"out":[{"x":994.9998474121094,"y":530.0000228881836,"wires":[{"id":"fccdf923.0501f8","port":0},{"id":"93c1f11d.0e19a","port":0},{"id":"e567f12e.248a2","port":0}]},{"x":1076.0000305175781,"y":254.99999237060547,"wires":[{"id":"fccdf923.0501f8","port":1},{"id":"92b8dea4.3007f","port":1},{"id":"1f5d1d53.bb5f33","port":1},{"id":"cfc4a4c8.5fbd38","port":1},{"id":"6553d99b.9b5a28","port":1},{"id":"f94bc3ab.09856","port":1},{"id":"4a60604f.c6a8a","port":1},{"id":"1d236ea2.98c161","port":1},{"id":"86c608e.6f324f8","port":1},{"id":"40249122.912a7","port":1},{"id":"93c1f11d.0e19a","port":1},{"id":"6433d61d.05bbf8","port":1}]}]},{"id":"7c40f962.399f48","type":"subflow","name":"reset password","info":"","in":[{"x":50,"y":30,"wires":[{"id":"130d053c.83a32b"}]}],"out":[{"x":882.9999694824219,"y":30,"wires":[{"id":"6b5cf572.770abc","port":0}]}]},{"id":"c1f03709.ccce18","type":"subflow","name":"end conversation","info":"","in":[{"x":50,"y":30,"wires":[{"id":"9b8f3ff7.fe584"}]}],"out":[{"x":330.99998474121094,"y":30,"wires":[{"id":"9b8f3ff7.fe584","port":0}]}]},{"id":"615a950c.b7005c","type":"subflow","name":"greet user","info":"","in":[{"x":50,"y":30,"wires":[{"id":"7d5108e9.f5fd98"}]}],"out":[{"x":430.9999542236328,"y":30,"wires":[{"id":"7d5108e9.f5fd98","port":0}]}]},{"id":"9a05706e.f163b","type":"bot-server","z":"","name":"helpdesk"},{"id":"eea38058.2aba5","type":"bot-server","z":"","name":"helpdesk"},{"id":"d1b32103.08415","type":"bot-server","z":"","name":"helpdesk"},{"id":"a70e547b.a467c8","type":"prompt-dialog","z":"1ed3e77d.8573e9","name":"request help","dialogType":"confirm","x":199.8958282470703,"y":44.888885498046875,"wires":[["fec3b4c3.b360f8"]]},{"id":"5c3bd70b.7ce328","type":"switch","z":"1ed3e77d.8573e9","name":"requested help","property":"payload.response","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":391.89930725097656,"y":44.94444274902344,"wires":[[],[]]},{"id":"4dd3525.ad53eac","type":"prompt-dialog","z":"1ed3e77d.8573e9","name":"request help","dialogType":"confirm","x":199.8958282470703,"y":44.888885498046875,"wires":[["fec3b4c3.b360f8"]]},{"id":"e0e6c198.9905f","type":"switch","z":"1ed3e77d.8573e9","name":"requested help","property":"payload.response","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":391.89930725097656,"y":44.94444274902344,"wires":[[],[]]},{"id":"a43d486a.3ae7a8","type":"prompt-dialog","z":"1ed3e77d.8573e9","name":"request help","dialogType":"confirm","x":199.8958282470703,"y":44.888885498046875,"wires":[["fec3b4c3.b360f8"]]},{"id":"9f55c3a8.f6b13","type":"switch","z":"1ed3e77d.8573e9","name":"requested help","property":"payload.response","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":391.89930725097656,"y":44.94444274902344,"wires":[[],[]]},{"id":"12dbdf7.513f621","type":"prompt-dialog","z":"1ed3e77d.8573e9","name":"Request Help","dialogType":"confirm","x":209.8958282470703,"y":44.888885498046875,"wires":[["fec3b4c3.b360f8"]]},{"id":"fec3b4c3.b360f8","type":"switch","z":"1ed3e77d.8573e9","name":"Requested Help","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":391.89930725097656,"y":44.94444274902344,"wires":[[],[]]},{"id":"dbd30035.ff57f","type":"switch","z":"ff1007e3.8055a8","name":"Connection Verify","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LAN Network","vt":"str"},{"t":"eq","v":"WiFi Network","vt":"str"}],"checkall":"true","outputs":2,"x":314.8957977294922,"y":187.88888549804688,"wires":[["2bc29eac.c03cc2"],["eb6aaabe.835c58"]]},{"id":"9db42a75.8ac478","type":"prompt-choice-dialog","z":"ff1007e3.8055a8","name":"Connection","options":["LAN Network","WiFi Network"],"x":146.8298797607422,"y":206,"wires":[["dbd30035.ff57f"]]},{"id":"2bc29eac.c03cc2","type":"prompt-choice-dialog","z":"ff1007e3.8055a8","name":"Connection Lan Step 1","options":["Next","Cancel"],"x":540.8368225097656,"y":43.013916015625,"wires":[["35309568.15595a"]]},{"id":"eb6aaabe.835c58","type":"prompt-dialog","z":"ff1007e3.8055a8","name":"Connection Lan Confirm","dialogType":"confirm","x":775.1597595214844,"y":79.37847900390625,"wires":[["b69b65f2.760f58"]]},{"id":"b69b65f2.760f58","type":"switch","z":"ff1007e3.8055a8","name":"Flow Decider Boolean","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1009.1597563249095,"y":78.61459350585938,"wires":[["975e0354.a408a"],["44facf94.1032c"]]},{"id":"975e0354.a408a","type":"prompt-choice-dialog","z":"ff1007e3.8055a8","name":"Connection Lan Step 2","options":["Next","Cancel"],"x":1313.1667785644531,"y":71.6666259765625,"wires":[["57ba7882.9437f8"]]},{"id":"35309568.15595a","type":"switch","z":"ff1007e3.8055a8","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":538.666618347168,"y":88.66664123535156,"wires":[["eb6aaabe.835c58"],[]]},{"id":"57ba7882.9437f8","type":"switch","z":"ff1007e3.8055a8","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":1521.6667785644531,"y":71.94795989990234,"wires":[["392f743.c998f8c"],[]]},{"id":"392f743.c998f8c","type":"prompt-choice-dialog","z":"ff1007e3.8055a8","name":"Connection Lan Step 3","options":["Next","Cancel"],"x":1309.6741027832031,"y":117.99999237060547,"wires":[["b1e3940e.678c88"]]},{"id":"b1e3940e.678c88","type":"switch","z":"ff1007e3.8055a8","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":1523.6667175292969,"y":117.66666412353516,"wires":[["ff1ec092.b2119"],[]]},{"id":"ff1ec092.b2119","type":"prompt-choice-dialog","z":"ff1007e3.8055a8","name":"Connection Lan Step 4","options":["Next","Cancel"],"x":1311.6667175292969,"y":160.66665649414062,"wires":[["cd0b2cf4.ccf2f"]]},{"id":"cd0b2cf4.ccf2f","type":"switch","z":"ff1007e3.8055a8","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":1525.6593322753906,"y":160.3333282470703,"wires":[["1ca59318.145e4d"],[]]},{"id":"1ca59318.145e4d","type":"prompt-choice-dialog","z":"ff1007e3.8055a8","name":"Connection Lan Step 6","options":["Next","Cancel"],"x":1310.6667175292969,"y":207.66665649414062,"wires":[["9537aa70.432708"]]},{"id":"9537aa70.432708","type":"switch","z":"ff1007e3.8055a8","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":1524.6593322753906,"y":207.3333282470703,"wires":[["44facf94.1032c"],[]]},{"id":"44facf94.1032c","type":"prompt-dialog","z":"ff1007e3.8055a8","name":"Connection Working","dialogType":"confirm","x":1304.1667785644531,"y":254.33333587646484,"wires":[["e7cdca91.77ee68"]]},{"id":"e7cdca91.77ee68","type":"switch","z":"ff1007e3.8055a8","name":"Flow Decider Boolean","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1551.3334045410156,"y":254.66665649414062,"wires":[[],["980c7e09.cba0f"]]},{"id":"980c7e09.cba0f","type":"prompt-dialog","z":"ff1007e3.8055a8","name":"Provide Username","dialogType":"text","x":1812.166748046875,"y":283.33333587646484,"wires":[["4b2dc727.ee1d88"]]},{"id":"4b2dc727.ee1d88","type":"prompt-dialog","z":"ff1007e3.8055a8","name":"Provide Machine Name","dialogType":"text","x":1835.3333740234375,"y":334.6666488647461,"wires":[["a0d9897.69b7c78"]]},{"id":"a0d9897.69b7c78","type":"text-dialog","z":"ff1007e3.8055a8","name":"Send Email","dialogs":["I already sent an email to support.​ Someone will contact you shortly.​"],"x":1795.166748046875,"y":380.99999237060547,"wires":[[]]},{"id":"77d3747a.8c304c","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Redirect","options":["Next","Cancel"],"x":178.75,"y":31.75,"wires":[["8ecd7dc7.9040b"]]},{"id":"8ecd7dc7.9040b","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":358.99999809265137,"y":30.749999046325684,"wires":[["3a3293c2.40602c"],[]]},{"id":"3a3293c2.40602c","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Login","options":["Next","Cancel"],"x":183.25,"y":78.75,"wires":[["2948f4f6.6e2abc"]]},{"id":"2948f4f6.6e2abc","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":358.25,"y":77.75,"wires":[["27e7cbcd.b0d554"],[]]},{"id":"7565db0d.bf9db4","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Project And Task","options":["Next","Cancel"],"x":145.75,"y":223.74999237060547,"wires":[["760a5dd2.197bf4"]]},{"id":"760a5dd2.197bf4","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":353.25,"y":224.0000228881836,"wires":[["fcf81981.5834d8"],[]]},{"id":"27e7cbcd.b0d554","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Select Entry","options":["Next","Cancel"],"x":163.25,"y":128.49999237060547,"wires":[["c3669170.5654e"]]},{"id":"c3669170.5654e","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":354.5,"y":126,"wires":[["3ddda6c4.4454da"],[]]},{"id":"3ddda6c4.4454da","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Appear","options":["Yes","No"],"x":175.25,"y":175.99999237060547,"wires":[["f76c86fa.945058"]]},{"id":"f76c86fa.945058","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":354,"y":175.99999237060547,"wires":[["7565db0d.bf9db4"],["4b96e39e.19aa2c"]]},{"id":"fcf81981.5834d8","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Fill Timesheet","options":["Yes","No"],"x":155.5,"y":275.99999237060547,"wires":[["310edda1.1424e2"]]},{"id":"310edda1.1424e2","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":356.75,"y":275.74999237060547,"wires":[["f1f5667c.987ac8"],[]]},{"id":"f1f5667c.987ac8","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Follow","options":["Next","Cancel"],"x":188,"y":326.49999237060547,"wires":[["97865994.e69ed8"]]},{"id":"97865994.e69ed8","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":356.25,"y":325.74999237060547,"wires":[["27801b06.0ada94"],[]]},{"id":"27801b06.0ada94","type":"prompt-choice-dialog","z":"4a97efdc.d1","name":"Submit","options":["Next","Cancel"],"x":170.25,"y":374.74999237060547,"wires":[["e35cfc7b.ce369"]]},{"id":"e35cfc7b.ce369","type":"switch","z":"4a97efdc.d1","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":359.7500114440918,"y":376.74999237060547,"wires":[["341c59a.a37a0a6"],[]]},{"id":"341c59a.a37a0a6","type":"text-dialog","z":"4a97efdc.d1","name":"Submit to Approver","dialogs":["The timesheet has been submitted to the Approver."],"x":843.25,"y":364.99999237060547,"wires":[[]]},{"id":"4b96e39e.19aa2c","type":"text-dialog","z":"4a97efdc.d1","name":"Email Sent","dialogs":["An email has been sent to timesheetsupport@synechron.com. Someone from  the support team will contact you shortly."],"x":852.2499847412109,"y":190.49999237060547,"wires":[[]]},{"id":"5941ea03.fb70a4","type":"text-dialog","z":"cc55a66c.d00358","name":"Expenses","dialogs":["Login with your Synechron Credentials."],"x":512.9999694824219,"y":103,"wires":[[]]},{"id":"f81a57ad.3a1648","type":"prompt-choice-dialog","z":"cc55a66c.d00358","name":"Redirect To Expenses","options":["Next","Cancel"],"x":231,"y":110,"wires":[["c300ec7d.6c078"]]},{"id":"c300ec7d.6c078","type":"switch","z":"cc55a66c.d00358","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":341,"y":110,"wires":[["5941ea03.fb70a4"],[]]},{"id":"3d04ea35.53c576","type":"prompt-choice-dialog","z":"7eda63ab.13c0ec","name":"Check Unlocked","options":["Yes","No"],"x":562.9999694824219,"y":125,"wires":[["c37d0ca8.00d74"]]},{"id":"cbc42e62.81ab6","type":"prompt-dialog","z":"7eda63ab.13c0ec","name":"Email Id","dialogType":"text","x":197,"y":125,"wires":[["21cca6a8.27930a"]]},{"id":"21cca6a8.27930a","type":"text-dialog","z":"7eda63ab.13c0ec","name":"Account Unlocked","dialogs":["Your account has been unlocked. Please try again."],"x":368,"y":125,"wires":[["3d04ea35.53c576"]]},{"id":"c37d0ca8.00d74","type":"switch","z":"7eda63ab.13c0ec","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":741.9999694824219,"y":125,"wires":[[],["cfceada6.3fdd7"]]},{"id":"cfceada6.3fdd7","type":"text-dialog","z":"7eda63ab.13c0ec","name":"Send Email","dialogs":["I already sent an email to support. Someone will contact you shortly."],"x":749.9999694824219,"y":186.99999237060547,"wires":[[]]},{"id":"6baa203f.d09a6","type":"prompt-dialog","z":"11d39bc0.862004","name":"Email Id Request","dialogType":"text","x":176,"y":73,"wires":[["9a778c02.e41e8"]]},{"id":"9a778c02.e41e8","type":"prompt-dialog","z":"11d39bc0.862004","name":"Manager Email Id","dialogType":"text","x":371,"y":73,"wires":[["11beacb7.3eca33"]]},{"id":"11beacb7.3eca33","type":"prompt-dialog","z":"11d39bc0.862004","name":"Machine Name Request","dialogType":"text","x":584,"y":73,"wires":[["9d238651.106dd8"]]},{"id":"9d238651.106dd8","type":"text-dialog","z":"11d39bc0.862004","name":"Email Support","dialogs":["This request requires an approval from your manager.  A mail will be send to your manager and on the approval  someone from IT Team will reach out to you."],"x":784,"y":73,"wires":[[]]},{"id":"cf45cb72.fe0398","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Configuring a New Printer","vt":"str"},{"t":"eq","v":"Configured Printer Issue","vt":"str"}],"checkall":"true","outputs":2,"x":347.74998474121094,"y":42,"wires":[["61a69860.234b58"],["3c750021.c3ef3"]]},{"id":"61a69860.234b58","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Click Devices/Printers","options":["Next","Cancel"],"x":157.75001525878906,"y":89,"wires":[["563b067e.3fe4b8"]]},{"id":"563b067e.3fe4b8","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":346.75001525878906,"y":88,"wires":[["916e9245.9e453"],[]]},{"id":"916e9245.9e453","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Click Add Printer","options":["Next","Cancel"],"x":158.00001525878906,"y":135.75,"wires":[["644ce73f.deb568"]]},{"id":"b6e1ef1c.2405b","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Add New Printer","options":["Next","Cancel"],"x":165.75001525878906,"y":182.5,"wires":[["7dd0396a.3aabb8"]]},{"id":"38eb24ed.9fbfac","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Printer Display","options":["Yes","No"],"x":166.75001525878906,"y":224.75,"wires":[["7d426ec5.8f987"]]},{"id":"37935779.8103a8","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Follow Installation","options":["Next","Cancel"],"x":156.49998474121094,"y":311.75,"wires":[["a70a712e.1b14b"]]},{"id":"3953406d.82319","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Printer Check","options":["Yes","No"],"x":164.25,"y":360.5,"wires":[["f3c73834.0687e8"]]},{"id":"644ce73f.deb568","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":348.5000305175781,"y":135.25,"wires":[["b6e1ef1c.2405b"],[]]},{"id":"7dd0396a.3aabb8","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":352.5000228881836,"y":182.25,"wires":[["38eb24ed.9fbfac"],[]]},{"id":"7d426ec5.8f987","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":353.2500534057617,"y":224.5,"wires":[["37935779.8103a8"],["5d0cfdb1.88f274"]]},{"id":"5d0cfdb1.88f274","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Printer on list","options":["Next","Cancel"],"x":176.50001525878906,"y":268.25,"wires":[["90edb7dd.c37308"]]},{"id":"90edb7dd.c37308","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":354.75,"y":268,"wires":[["c5c5e719.8972a8"],[]]},{"id":"c5c5e719.8972a8","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Add Printer hostname","options":["Next","Cancel"],"x":578.7499771118164,"y":260.25,"wires":[["700bc687.547368"]]},{"id":"751c7a83.2723c4","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Add More Info","options":["Next","Cancel"],"x":600.9999847412109,"y":299.5,"wires":[["15093bd6.fd3aa4"]]},{"id":"700bc687.547368","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":786.5,"y":260.25,"wires":[["751c7a83.2723c4"],[]]},{"id":"15093bd6.fd3aa4","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":783.4999847412109,"y":300.0001525878906,"wires":[["3953406d.82319"],[]]},{"id":"a70a712e.1b14b","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":352.75,"y":312,"wires":[["3953406d.82319"],[]]},{"id":"f3c73834.0687e8","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":356.5,"y":361.5,"wires":[[],["3c750021.c3ef3"]]},{"id":"3c750021.c3ef3","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Control Panel","options":["Next","Cancel"],"x":611.7499771118164,"y":46.75,"wires":[["a7710520.5595d8"]]},{"id":"518034f3.4547ec","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Checkmark","options":["Yes","No","I cannot find the printer"],"x":1023.7500305175781,"y":39.5,"wires":[["3de1e7ba.189da8"]]},{"id":"a7710520.5595d8","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":787.5000305175781,"y":46.0000114440918,"wires":[["518034f3.4547ec"],[]]},{"id":"3de1e7ba.189da8","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"},{"t":"eq","v":"I cannot find the printer","vt":"str"}],"checkall":"true","outputs":3,"x":1196.5,"y":40.50006103515625,"wires":[["14f9e686.cb8949"],["8cf8dfe9.1e269"],["61a69860.234b58"]]},{"id":"8cf8dfe9.1e269","type":"text-dialog","z":"31ffa884.72b778","name":"Set Default Printer","dialogs":["Right Click on the printer and Click Set as Default Printer. Check if the printer is working."],"x":1429.25,"y":56.25,"wires":[["3953406d.82319"]]},{"id":"14f9e686.cb8949","type":"text-dialog","z":"31ffa884.72b778","name":"Printer online","dialogs":["Now lets check if the printer is online."],"x":1446.75,"y":20,"wires":[["474cbcaf.7825b4"]]},{"id":"3792805d.da7f1","type":"prompt-dialog","z":"31ffa884.72b778","name":"Printer Name","dialogType":"text","x":2036.5,"y":20,"wires":[["166c765.3fc9a8a"]]},{"id":"166c765.3fc9a8a","type":"text-dialog","z":"31ffa884.72b778","name":"Wait","dialogs":["Give me a minute while a check the printers online."],"x":2180.5,"y":20,"wires":[["673172c5.fc786c"]]},{"id":"673172c5.fc786c","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Check Printer Ready","options":["Yes","No"],"x":2366.4998779296875,"y":20,"wires":[["6fa003db.c3085c"]]},{"id":"6fa003db.c3085c","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":2441.499755859375,"y":59.75,"wires":[[],["bd4646d7.010f58"]]},{"id":"6e4d7ec5.78768","type":"switch","z":"31ffa884.72b778","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":1836.25,"y":20,"wires":[["3792805d.da7f1"],["4f9db265.5fbe4c"]]},{"id":"474cbcaf.7825b4","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Check Printer Name","options":["Yes","No"],"x":1647.75,"y":20,"wires":[["6e4d7ec5.78768"]]},{"id":"4f9db265.5fbe4c","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Printer List","options":["List Of Printers"],"x":1671,"y":60.75,"wires":[[]]},{"id":"bd4646d7.010f58","type":"prompt-dialog","z":"31ffa884.72b778","name":"User Name","dialogType":"text","x":2482.999755859375,"y":97.5,"wires":[["91232d4d.c0abb"]]},{"id":"91232d4d.c0abb","type":"prompt-dialog","z":"31ffa884.72b778","name":"Machine Name","dialogType":"text","x":2508.5,"y":138.75,"wires":[["63302129.50b33"]]},{"id":"63302129.50b33","type":"text-dialog","z":"31ffa884.72b778","name":"Sent Email","dialogs":["I already sent an email to support. Someone will contact you shortly"],"x":2543,"y":181,"wires":[[]]},{"id":"6a3e313b.8c042","type":"prompt-choice-dialog","z":"31ffa884.72b778","name":"Having Problem","options":["Configuring a New Printer","Configured Printer Issue"],"x":166,"y":41,"wires":[["cf45cb72.fe0398"]]},{"id":"cc47fab1.fd5448","type":"prompt-choice-dialog","z":"f8dde68.b8a3c18","name":"Antivirus GUI","options":["Next","Cancel"],"x":586.5555267333984,"y":34,"wires":[["cdd26564.86c748"]]},{"id":"cdd26564.86c748","type":"switch","z":"f8dde68.b8a3c18","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":756.4444274902344,"y":34.111083984375,"wires":[["89c624f7.9e3728"],[]]},{"id":"89c624f7.9e3728","type":"prompt-choice-dialog","z":"f8dde68.b8a3c18","name":"Change Settings","options":["Next","Cancel"],"x":571.5555114746094,"y":80.55554962158203,"wires":[["74d89e73.91452"]]},{"id":"74d89e73.91452","type":"switch","z":"f8dde68.b8a3c18","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":758.0000152587891,"y":78,"wires":[["721cd6f4.a98268"],[]]},{"id":"721cd6f4.a98268","type":"prompt-choice-dialog","z":"f8dde68.b8a3c18","name":"Client Management ","options":["Next","Cancel"],"x":571.9999847412109,"y":125.44444274902344,"wires":[["80b53ef4.045"]]},{"id":"7c0a40d5.f2c06","type":"prompt-choice-dialog","z":"f8dde68.b8a3c18","name":"Configure settings","options":["Next","Cancel"],"x":576.0000457763672,"y":172.00006103515625,"wires":[["b9742a89.2ac9c8"]]},{"id":"80b53ef4.045","type":"switch","z":"f8dde68.b8a3c18","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":760.0000152587891,"y":124,"wires":[["7c0a40d5.f2c06"],[]]},{"id":"b9742a89.2ac9c8","type":"switch","z":"f8dde68.b8a3c18","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":758.0000152587891,"y":172,"wires":[["afbf2d19.80536"],[]]},{"id":"afbf2d19.80536","type":"prompt-choice-dialog","z":"f8dde68.b8a3c18","name":"Scheduled Updates","options":["Next","Cancel"],"x":574.0000152587891,"y":217,"wires":[["6d13fd0b.21c4f4"]]},{"id":"6d13fd0b.21c4f4","type":"switch","z":"f8dde68.b8a3c18","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":757.0000152587891,"y":217,"wires":[["3a7664fc.95382c"],[]]},{"id":"3a7664fc.95382c","type":"prompt-choice-dialog","z":"f8dde68.b8a3c18","name":"Enable Automatic Updates","options":["Next","Cancel"],"x":546.0000305175781,"y":261,"wires":[["fd096ea3.b00e7"]]},{"id":"fd096ea3.b00e7","type":"switch","z":"f8dde68.b8a3c18","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":757.0000305175781,"y":260,"wires":[[],[]]},{"id":"3caa1513.2d27da","type":"prompt-choice-dialog","z":"f8dde68.b8a3c18","name":"Connected To Internet","options":["Yes","No"],"x":177,"y":41,"wires":[["624c9db9.d2c3b4"]]},{"id":"624c9db9.d2c3b4","type":"switch","z":"f8dde68.b8a3c18","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","outputs":2,"x":371.99998474121094,"y":41,"wires":[["cc47fab1.fd5448"],[]]},{"id":"d1565d9c.71677","type":"entity-matcher","z":"e73c4e2e.7176b","botServer":"d1b32103.08415","entities":["browser"],"x":182,"y":46,"wires":[["d21fb57e.00d248"]]},{"id":"2829559b.f4cd5a","type":"switch","z":"e73c4e2e.7176b","name":"Flow Decider","property":"payload.browser.entity","propertyType":"msg","rules":[{"t":"eq","v":"chrome","vt":"str"},{"t":"null"}],"checkall":"true","outputs":2,"x":524.7499847412109,"y":47,"wires":[["fd9a929.499147"],["68639554.42b14c"]]},{"id":"fd9a929.499147","type":"prompt-choice-dialog","z":"e73c4e2e.7176b","name":"Open Browser","options":["Done","Cancel"],"x":716,"y":43,"wires":[["ac77dab7.d3e4a8"]]},{"id":"ac77dab7.d3e4a8","type":"switch","z":"e73c4e2e.7176b","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Done","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":896.25,"y":41.02777099609375,"wires":[["10cdbee4.866f31"],[]]},{"id":"10cdbee4.866f31","type":"prompt-choice-dialog","z":"e73c4e2e.7176b","name":"Redirect","options":["Done","Cancel"],"x":1070.583251953125,"y":34.47221374511719,"wires":[["81584dc1.a9aa6"]]},{"id":"81584dc1.a9aa6","type":"switch","z":"e73c4e2e.7176b","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Done","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":896.3055419921875,"y":86.75,"wires":[["99668db5.d7591"],[]]},{"id":"99668db5.d7591","type":"prompt-choice-dialog","z":"e73c4e2e.7176b","name":"Click","options":["Done","Cancel"],"x":1064.9443969726562,"y":77.02778625488281,"wires":[["58e09784.283568"]]},{"id":"58e09784.283568","type":"switch","z":"e73c4e2e.7176b","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Done","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":896.1666870117188,"y":129.75,"wires":[[],[]]},{"id":"68639554.42b14c","type":"prompt-choice-dialog","z":"e73c4e2e.7176b","name":"Select Browser","options":["Chrome"],"x":530.5,"y":104.75,"wires":[["fd9a929.499147"]]},{"id":"d21fb57e.00d248","type":"function","z":"e73c4e2e.7176b","name":"Check Entity","func":"if(msg.payload.browser === null)\n{\n    msg.payload.browser = {entity: null};\n}\nreturn msg;","outputs":1,"noerr":0,"x":350.24998474121094,"y":47.5,"wires":[["2829559b.f4cd5a"]]},{"id":"72e279ec.556ca8","type":"prompt-choice-dialog","z":"5e957592.8c80ac","name":"Click Icon","options":["Next","Cancel"],"x":767.7500457763672,"y":46.50000762939453,"wires":[["59965d4c.d5c974"]]},{"id":"59965d4c.d5c974","type":"switch","z":"5e957592.8c80ac","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":926.7500038146973,"y":45.75,"wires":[["2c755851.c60678"],[]]},{"id":"99a9f5d9.4ad278","type":"switch","z":"5e957592.8c80ac","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":924.25,"y":90.25,"wires":[["c5e16e25.e914e"],[]]},{"id":"2c755851.c60678","type":"prompt-choice-dialog","z":"5e957592.8c80ac","name":"Click Applications","options":["Next","Cancel"],"x":1111.999984741211,"y":38.75,"wires":[["99a9f5d9.4ad278"]]},{"id":"c5e16e25.e914e","type":"text-dialog","z":"5e957592.8c80ac","name":"Click Dashboard","dialogs":["Click the dashboard icon on the right side and your applications should be on your dashboard."],"x":1106.25,"y":83,"wires":[[]]},{"id":"d8322685.2c7de8","type":"prompt-choice-dialog","z":"5e957592.8c80ac","name":"Ask to login","options":["Next","Cancel","How do I Login?"],"x":152.50000190734863,"y":60.00000858306885,"wires":[["5c03e090.d3415"]]},{"id":"5c03e090.d3415","type":"switch","z":"5e957592.8c80ac","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"How do I Login?","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":3,"x":313.24998474121094,"y":59.25001525878906,"wires":[["72e279ec.556ca8"],["39383925.e5ec56"],[]]},{"id":"39383925.e5ec56","type":"prompt-choice-dialog","z":"5e957592.8c80ac","name":"Redirect to Login","options":["Next","Cancel"],"x":532.0000457763672,"y":128.75,"wires":[["f16fa238.30d5a"]]},{"id":"f16fa238.30d5a","type":"switch","z":"5e957592.8c80ac","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":730.2500762939453,"y":128,"wires":[["ad9421d6.2303"],[]]},{"id":"ad9421d6.2303","type":"prompt-choice-dialog","z":"5e957592.8c80ac","name":"Enter Credentials","options":["Next","Cancel"],"x":532.2500457763672,"y":175,"wires":[["cb425023.1564d"]]},{"id":"cb425023.1564d","type":"switch","z":"5e957592.8c80ac","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":727.5000152587891,"y":175.75,"wires":[["72e279ec.556ca8"],[]]},{"id":"58672a80.30ac04","type":"prompt-dialog","z":"3b2ad55e.23b7ca","name":"Wifi Connection","dialogType":"confirm","x":193.8298797607422,"y":236.3819580078125,"wires":[["50e09a40.087634"]]},{"id":"2aeea746.f32138","type":"prompt-choice-dialog","z":"3b2ad55e.23b7ca","name":"Spam Step 1","options":["Next","Cancel"],"x":435.8402099609375,"y":71,"wires":[["79156584.de1f5c"]]},{"id":"f8c308fa.cadb98","type":"prompt-choice-dialog","z":"3b2ad55e.23b7ca","name":"Spam Step 2","options":["Next","Cancel"],"x":433.895751953125,"y":113.88888549804688,"wires":[["632822df.c9b24c"]]},{"id":"8acb3a7d.dbdc48","type":"prompt-choice-dialog","z":"3b2ad55e.23b7ca","name":"Spam Step 3","options":["Next","Cancel"],"x":430.89581298828125,"y":154.88887786865234,"wires":[["94de051d.98e398"]]},{"id":"fc4b3cc8.8afac","type":"prompt-choice-dialog","z":"3b2ad55e.23b7ca","name":"Spam Step 4","options":["Next","Cancel"],"x":430.95135498046875,"y":192.77776336669922,"wires":[["e48e0723.37f478"]]},{"id":"50e09a40.087634","type":"switch","z":"3b2ad55e.23b7ca","name":"Flow Decision Boolean","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":225.8298797607422,"y":286.7118225097656,"wires":[["2aeea746.f32138"],["83654c5e.043d9"]]},{"id":"83654c5e.043d9","type":"prompt-choice-dialog","z":"3b2ad55e.23b7ca","name":"Spam Alternate Step 1","options":["Done"],"x":219.89578247070312,"y":340.88887786865234,"wires":[["2aeea746.f32138"]]},{"id":"79156584.de1f5c","type":"switch","z":"3b2ad55e.23b7ca","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":626.3332824707031,"y":71.66666412353516,"wires":[["f8c308fa.cadb98"],[]]},{"id":"632822df.c9b24c","type":"switch","z":"3b2ad55e.23b7ca","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":626.3332214355469,"y":111.66666412353516,"wires":[["8acb3a7d.dbdc48"],[]]},{"id":"94de051d.98e398","type":"switch","z":"3b2ad55e.23b7ca","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":628.3332214355469,"y":148.66665649414062,"wires":[["fc4b3cc8.8afac"],[]]},{"id":"e48e0723.37f478","type":"switch","z":"3b2ad55e.23b7ca","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":629.333251953125,"y":188.66665649414062,"wires":[[],[]]},{"id":"ff51455a.29e018","type":"switch","z":"e288fca3.36e65","name":"Menu Help Select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Configure Email on Phone","vt":"str"},{"t":"eq","v":"Reset Password","vt":"str"},{"t":"eq","v":"Add Application to EAG","vt":"str"},{"t":"eq","v":"Install Ad-Blocker","vt":"str"},{"t":"eq","v":"AntiVirus Update Issues","vt":"str"},{"t":"eq","v":"Printer Issues","vt":"str"},{"t":"eq","v":"Request Admin Rights","vt":"str"},{"t":"eq","v":"Locked Account","vt":"str"},{"t":"eq","v":"Login to Expenses","vt":"str"},{"t":"eq","v":"Fill Timesheet","vt":"str"},{"t":"eq","v":"Internet Connectivity Issues","vt":"str"}],"checkall":"true","outputs":11,"x":385.6666564941406,"y":189.6666488647461,"wires":[[],[],[],[],[],[],[],[],[],[],[]]},{"id":"23257df0.56fdc2","type":"prompt-choice-dialog","z":"e288fca3.36e65","name":"Menu Help","options":["Configure Email on Phone","Reset Password","Add Application to EAG","Install Ad-Blocker","AntiVirus Update Issues","Printer Issues","Request Admin Rights","Locked Account","Login to Expenses","Fill Timesheet","Internet Connectivity Issues"],"x":185,"y":190,"wires":[["ff51455a.29e018"]]},{"id":"3df53852.2ac4f8","type":"entity-matcher","z":"bc69bd53.228","botServer":"d1b32103.08415","entities":["devices"],"x":171.82640075683594,"y":86.63888549804688,"wires":[["fadf7d60.b2abd"]]},{"id":"3485f0ea.3857","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Iphone Step 2","options":["Next","Cancel"],"x":465.8333740234375,"y":73.80555725097656,"wires":[["6553d99b.9b5a28"]]},{"id":"ff15782d.5d4f68","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Iphone Step 3","options":["Next","Cancel"],"x":464.83685302734375,"y":111.79167175292969,"wires":[["cfc4a4c8.5fbd38"]]},{"id":"e97ecdbf.cdcc2","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Iphone Step 4","options":["Next","Cancel"],"x":466.1180419921875,"y":150.88887786865234,"wires":[["1f5d1d53.bb5f33"]]},{"id":"a96c3786.a03688","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Iphone Step 5","options":["Next","Cancel"],"x":466.12152099609375,"y":190.87499237060547,"wires":[["92b8dea4.3007f"]]},{"id":"69a00361.c17edc","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Iphone Step 6","options":["Next","Cancel"],"x":466.673583984375,"y":229.88886260986328,"wires":[["fccdf923.0501f8"]]},{"id":"f2399c44.5bbbf","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Android Step 1","options":["Next","Cancel"],"x":461.2291564941406,"y":274.88887786865234,"wires":[["f94bc3ab.09856"]]},{"id":"367c355c.5a26ca","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Android Step 2","options":["Next","Cancel"],"x":463.2361145019531,"y":315.88887786865234,"wires":[["4a60604f.c6a8a"]]},{"id":"967ed9ae.34f908","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Android Step 3","options":["Next","Cancel"],"x":461.2396240234375,"y":356.87499237060547,"wires":[["1d236ea2.98c161"]]},{"id":"f90f4b2a.006ee8","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Select Phone","options":["iPhone","Android","none of the above"],"x":160.83676147460938,"y":250.80559539794922,"wires":[["35464ca3.74bf94"]]},{"id":"35464ca3.74bf94","type":"switch","z":"bc69bd53.228","name":"Selected Phone","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"iPhone","vt":"str"},{"t":"eq","v":"Android","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":162.826416015625,"y":315.80211639404297,"wires":[["7962ce0c.b5ff2"],["f2399c44.5bbbf"],["e567f12e.248a2"]]},{"id":"e567f12e.248a2","type":"text-dialog","z":"bc69bd53.228","name":"Otherwise","dialogs":["Sorry but we don't have that device."],"x":437.8263854980469,"y":529.3750228881836,"wires":[[]]},{"id":"fadf7d60.b2abd","type":"function","z":"bc69bd53.228","name":"","func":"if(msg.payload.devices === null){\n    msg.payload.devices ={entity: \"not found\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":139.82989501953125,"y":128.29513549804688,"wires":[["6a42b4fb.47c16c"]]},{"id":"6553d99b.9b5a28","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":652.6665954589844,"y":73.66666412353516,"wires":[["ff15782d.5d4f68"],[]]},{"id":"cfc4a4c8.5fbd38","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":654.6665954589844,"y":110.66665649414062,"wires":[["e97ecdbf.cdcc2"],[]]},{"id":"1f5d1d53.bb5f33","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":655.6666259765625,"y":150.66665649414062,"wires":[["a96c3786.a03688"],[]]},{"id":"fccdf923.0501f8","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":653.6666259765625,"y":227.66665649414062,"wires":[[],[]]},{"id":"92b8dea4.3007f","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":652.6665954589844,"y":187.66665649414062,"wires":[["69a00361.c17edc"],[]]},{"id":"b20321b8.47ec2","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Android Step 4","options":["Next","Cancel"],"x":460.52081298828125,"y":393.97220611572266,"wires":[["40249122.912a7"]]},{"id":"9a96c6f7.e54118","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Android Step 5","options":["Next","Cancel"],"x":461.5242919921875,"y":429.9583206176758,"wires":[["86c608e.6f324f8"]]},{"id":"809f90ca.3a77b","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Android Step 6","options":["Next","Cancel"],"x":462.34033203125,"y":464.88890838623047,"wires":[["93c1f11d.0e19a"]]},{"id":"f94bc3ab.09856","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":653.6666259765625,"y":275.6666564941406,"wires":[["367c355c.5a26ca"],[]]},{"id":"4a60604f.c6a8a","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":653.6666259765625,"y":314.6666564941406,"wires":[["967ed9ae.34f908"],[]]},{"id":"1d236ea2.98c161","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":655.6666259765625,"y":351.6666488647461,"wires":[["b20321b8.47ec2"],[]]},{"id":"40249122.912a7","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":656.6666564941406,"y":391.6666488647461,"wires":[["9a96c6f7.e54118"],[]]},{"id":"93c1f11d.0e19a","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":654.6666564941406,"y":464.6666488647461,"wires":[[],[]]},{"id":"86c608e.6f324f8","type":"switch","z":"bc69bd53.228","name":"Flow Decider ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":653.6666259765625,"y":428.6666488647461,"wires":[["809f90ca.3a77b"],[]]},{"id":"7962ce0c.b5ff2","type":"prompt-choice-dialog","z":"bc69bd53.228","name":"Iphone Step 1","options":["Next","Cancel"],"x":463.5000305175781,"y":35.66668701171875,"wires":[["6433d61d.05bbf8"]]},{"id":"6433d61d.05bbf8","type":"switch","z":"bc69bd53.228","name":"Flow Decider","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Next","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","outputs":2,"x":652.4999694824219,"y":34.00006103515625,"wires":[["3485f0ea.3857"],[]]},{"id":"6a42b4fb.47c16c","type":"switch","z":"bc69bd53.228","name":"Send Phone","property":"payload.devices.entity","propertyType":"msg","rules":[{"t":"eq","v":"iphone","vt":"str"},{"t":"eq","v":"android","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":152.8367919921875,"y":181.13543701171875,"wires":[["7962ce0c.b5ff2"],["f2399c44.5bbbf"],["f90f4b2a.006ee8"]]},{"id":"130d053c.83a32b","type":"prompt-dialog","z":"7c40f962.399f48","name":"Employee Id","dialogType":"text","x":162.82640075683594,"y":30.170143127441406,"wires":[["e3fe3688.886b78"]]},{"id":"e3fe3688.886b78","type":"prompt-dialog","z":"7c40f962.399f48","name":"Domain Username","dialogType":"text","x":359.83677673339844,"y":30.170143127441406,"wires":[["f9bfc4a9.dba9c8"]]},{"id":"f9bfc4a9.dba9c8","type":"prompt-dialog","z":"7c40f962.399f48","name":"Mobile Number","dialogType":"text","x":562.8333587646484,"y":30.166671752929688,"wires":[["6b5cf572.770abc"]]},{"id":"6b5cf572.770abc","type":"text-dialog","z":"7c40f962.399f48","name":"Send Password","dialogs":["Your new password was send to mobile device."],"x":744.8402557373047,"y":30.381942749023438,"wires":[[]]},{"id":"9b8f3ff7.fe584","type":"text-dialog","z":"c1f03709.ccce18","name":"End Conversation","dialogs":["Good Bye."],"x":184.83680725097656,"y":30.375,"wires":[[]]},{"id":"7d5108e9.f5fd98","type":"hero-card-dialog","z":"615a950c.b7005c","name":"Start Conversation","imageuri":"https://upload.wikimedia.org/wikipedia/commons/d/d4/Synechron_Logo_White_Background.jpg","title":"Hello! Welcome to Synechron Help Desk.","subtitle":"","text":"With what can I help you today?","tapUrl":"","x":239.84022521972656,"y":30.211822509765625,"wires":[[]]},{"id":"d68cfc12.69709","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"greetUser","x":169.8958282470703,"y":70.88888549804688,"wires":[["61e0e805.cf8358"]]},{"id":"61e0e805.cf8358","type":"subflow:615a950c.b7005c","z":"7e1e9f8.d2a356","name":"","x":755.8992004394531,"y":72.24655151367188,"wires":[["42c91e60.65593"]]},{"id":"ace1c935.0a6c38","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"endConversation","x":200.89930725097656,"y":119.89236450195312,"wires":[["5030020c.110a5c"]]},{"id":"5030020c.110a5c","type":"subflow:c1f03709.ccce18","z":"7e1e9f8.d2a356","name":"","x":785.895751953125,"y":121.45138549804688,"wires":[["42c91e60.65593"]]},{"id":"a1602201.233cc","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"resetPassword","x":191.90280151367188,"y":175.8854217529297,"wires":[["e2779ee6.7800a"]]},{"id":"e2779ee6.7800a","type":"subflow:7c40f962.399f48","z":"7e1e9f8.d2a356","name":"","x":775.9026947021484,"y":177.65623474121094,"wires":[["d53b1ff5.18252"]]},{"id":"1bcf5dc7.4b2e72","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"emailSetup","x":183.8923797607422,"y":229.88543701171875,"wires":[["c56bfd3.63384"]]},{"id":"42c91e60.65593","type":"end-intent-matcher","z":"7e1e9f8.d2a356","x":1505.89208984375,"y":426.5173873901367,"wires":[]},{"id":"c56bfd3.63384","type":"subflow:bc69bd53.228","z":"7e1e9f8.d2a356","name":"","x":767.9026794433594,"y":230.76043701171875,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"3b87c31a.fd1dfc","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"menuHelp","x":175.89236450195312,"y":412.88195037841797,"wires":[["ec1f9b87.aedb98"]]},{"id":"ec1f9b87.aedb98","type":"subflow:e288fca3.36e65","z":"7e1e9f8.d2a356","name":"","x":451.9027099609375,"y":413.9479293823242,"wires":[["c56bfd3.63384"],["e2779ee6.7800a"],["f653b2d0.6125f"],["9a3318ea.fdb3e8"],["f22b22d9.67211"],["48121f87.c6516"],["77b9bef8.6ef74"],["4a42b07d.4ee8c"],["753ed655.516428"],["fbfa382.7b565c8"],["e6f0de37.50255"]]},{"id":"230592df.de48de","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"spamEmail","x":187.8263397216797,"y":540.4688339233398,"wires":[["7e852c72.7db4b4"]]},{"id":"7e852c72.7db4b4","type":"subflow:3b2ad55e.23b7ca","z":"7e1e9f8.d2a356","name":"","x":788.8402099609375,"y":540.7362289428711,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"c348b34f.e39d9","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"connectionIssues","x":203.83680725097656,"y":276.4618148803711,"wires":[["e6f0de37.50255"]]},{"id":"f8d1159f.5ea978","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"addBlock","x":177.89578247070312,"y":595.9479942321777,"wires":[["9a3318ea.fdb3e8"]]},{"id":"cab62520.63c018","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"addPortal","x":178.89578247070312,"y":641.4479904174805,"wires":[["f653b2d0.6125f"]]},{"id":"f653b2d0.6125f","type":"subflow:5e957592.8c80ac","z":"7e1e9f8.d2a356","name":"","x":793.895751953125,"y":639.4480209350586,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"9a3318ea.fdb3e8","type":"subflow:e73c4e2e.7176b","z":"7e1e9f8.d2a356","name":"","x":790.895751953125,"y":592.4480209350586,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"832c4f.aee6c3b","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"updateAntivirus","x":200.45134735107422,"y":697.1146450042725,"wires":[["f22b22d9.67211"]]},{"id":"f22b22d9.67211","type":"subflow:f8dde68.b8a3c18","z":"7e1e9f8.d2a356","name":"","x":776.0068359375,"y":692.1147079467773,"wires":[["d53b1ff5.18252"],["42c91e60.65593"],["e6f0de37.50255"]]},{"id":"f3e91238.251e3","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"printerIssue","x":190.89581298828125,"y":747.4479598999023,"wires":[["48121f87.c6516"]]},{"id":"48121f87.c6516","type":"subflow:31ffa884.72b778","z":"7e1e9f8.d2a356","name":"","x":786.0068359375,"y":742.2257614135742,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"4276f4d9.8895cc","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"requestService","x":200.89581298828125,"y":801.4479904174805,"wires":[["77b9bef8.6ef74"]]},{"id":"77b9bef8.6ef74","type":"subflow:11d39bc0.862004","z":"7e1e9f8.d2a356","name":"","x":815.895751953125,"y":795.4480209350586,"wires":[["d53b1ff5.18252"]]},{"id":"1775191.c4f20e7","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"accountLocked","x":200.64581298828125,"y":856.1979904174805,"wires":[["4a42b07d.4ee8c"]]},{"id":"4a42b07d.4ee8c","type":"subflow:7eda63ab.13c0ec","z":"7e1e9f8.d2a356","name":"","x":816.145751953125,"y":851.1980209350586,"wires":[["d53b1ff5.18252"]]},{"id":"a472f3a9.e4894","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"loginAccount","x":190.64581298828125,"y":908.1979904174805,"wires":[["753ed655.516428"]]},{"id":"753ed655.516428","type":"subflow:cc55a66c.d00358","z":"7e1e9f8.d2a356","name":"","x":808.3957824707031,"y":903.6980209350586,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"fbfa382.7b565c8","type":"subflow:4a97efdc.d1","z":"7e1e9f8.d2a356","name":"","x":788.8957824707031,"y":962.9480209350586,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"12bca148.ab2fdf","type":"start-intent-matcher","z":"7e1e9f8.d2a356","botServer":"d1b32103.08415","intentPattern":"fillInformation","x":191.14581298828125,"y":968.1979904174805,"wires":[["fbfa382.7b565c8"]]},{"id":"e6f0de37.50255","type":"subflow:ff1007e3.8055a8","z":"7e1e9f8.d2a356","name":"","x":791.4999237060547,"y":277.5034713745117,"wires":[["d53b1ff5.18252"],["42c91e60.65593"]]},{"id":"d53b1ff5.18252","type":"subflow:1ed3e77d.8573e9","z":"7e1e9f8.d2a356","name":"","x":1093.4998779296875,"y":424.5034713745117,"wires":[["ec1f9b87.aedb98"],["42c91e60.65593"]]}]